<div class="container mt-5">
    <div class="row justify-content-around">
        <div class="col-lg-7">
            
            <h3>Cookie</h3>
           <div class="row justify-content-around">
            <div class="col-lg-9">
                <p>A cookie, in the context of computing and the internet, refers to a small piece of data stored on a
                    user's device by a web browser. Cookies are designed to store information about the user's interactions
                    with a website, allowing the website to recognize the user and remember certain preferences or actions.</p>
                
            </div >
                <div class="col-lg-3"><img src="../../../assets/Images/cookie.png" class="img-fluid"></div>
           </div>
           <p>They play a crucial role in enhancing user experience by enabling personalized content, authentication,
            and tracking user behavior. Cookies are commonly used for various purposes, including session
            management, storing user preferences, and tracking website analytics. It's important to note that there
            are different types of cookies, such as session cookies and persistent cookies, each serving specific
            functions</p>
                <img src="../../../assets/Images/cookie2.png" class="img-fluid">
                
            <p>cookies are essentially stored as key-value pairs. The key is the name of the cookie, and the value is
                the information associated with that cookie. When you set a cookie, you specify both the name and the
                value</p>
            <p class="">Cookies are typically stored as text strings in a specific format. The format is known as the
                "document.cookie" header when sending cookies from the server to the client, and "Cookie" header when
                sending cookies from the client to the server. The general structure is as follows:</p>
        </div>
    </div>
</div>
