<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <section>
                <h4>Privacy Policy</h4>
                <p>Welcome to ghostking, where we are committed to protecting your privacy and ensuring the security of
                    your
                    personal information. This Privacy Policy outlines how we collect, use, disclose, and safeguard your
                    information when you visit our blog.</p>
            </section>
            <section>
                <h5>Cookies and Similar Technologies:</h5>
                <p>We use cookies to enhance your experience on our blog. Cookies are small text files stored on your
                    device that help us analyze web traffic and personalize content. You can control cookies through
                    your browser settings, but disabling them may impact certain features of our blog.</p>
            </section>
            <section>
                <h5>Third-Party Services:</h5>
                <p>We may use third-party services, such as analytics tools and social media platforms, to enhance our
                    blog's functionality and reach. These services may have their own privacy policies, and we encourage
                    you to review them.</p>
            </section>
            <section>
                <h5>Security:</h5>
                <p>We take reasonable measures to protect your information from unauthorized access, disclosure,
                    alteration, and destruction. However, please be aware that no method of transmission over the
                    internet or electronic storage is 100% secure.</p>
            </section>
            <section>
                <h5>Your Choices:</h5>
                <p>You have the right to opt-out of certain data collection and processing. You can unsubscribe from our
                    newsletter at any time by following the instructions provided in the email.</p>
            </section>
            <section>
                <h5>Changes to This Privacy Policy:</h5>
                <p>We reserve the right to update this Privacy Policy to reflect changes in our practices or for legal
                    compliance. Any updates will be effective immediately upon posting on this page.</p>
            </section>
            <section>
                <h5>Contact Us:</h5>
                <p>If you have any questions, concerns, or requests regarding our Privacy Policy, please contact us </p>
                <p>By using our blog, you agree to the terms outlined in this Privacy Policy. We appreciate your trust
                    and are committed to maintaining the confidentiality of your information.</p>
            </section>
        </div>
    </div>
</div>