<section class="section about-section gray-bg" id="about">
    <div class="container pt-5">
        <div class="row align-items-center flex-row">
            <div class="col-lg-6">
                <div class="about-avatar col-lg-8">
                    <img src="../../../assets/Images/230105.jpg" title="" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-text go-to">
                    <h3 class="dark-color">About Me</h3>
                    <h6 class="theme-color lead">A MEAN Stack Web Developer based in Odisha,India</h6>
                    <p>As a MEAN stack developer, I'm passionate about web design. I leverage MongoDB, My SQL,
                        Express.js, Angular, and Node.js to create engaging websites, fusing creativity with technical
                        expertise</p>
                    <div class="row about-list">
                        <div class="col-md-6">
                            <div class="media">
                                <label>Birthday</label>
                                <p>16 Oct 1998</p>
                            </div>
                            <div class="media">
                                <label>Age</label>
                                <p>25 Yr</p>
                            </div>
                            <div class="media">
                                <label>Residence</label>
                                <p>India</p>
                            </div>
                            <div class="media">
                                <label>Address</label>
                                <p>Bhubaneswar,<br> Odisha, India</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="media">
                                <label>E-mail</label>
                                <p>babluchoudhury478@gmail.com</p>
                            </div>
                            <div class="media">
                                <label>Phone</label>
                                <p>+91 7608833251</p>
                            </div>
                            <div class="media">
                                <label>Skype</label>
                                <a href="https://join.skype.com/invite/wtni4vMc5d8T" target="_blank">
                                    <p>skype.profile/Bablu</p>
                                </a>
                            </div>
                            <div class="media">
                                <label>Freelance</label>
                                <p>Available</p>
                                <a href="https://www.fiverr.com/bhawani_sankar" target="_blank">fiverr.profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 my-5">
                        <div class="row justify-content-center">
                            <div class="col-3  p-sm-3 icon">
                                <a href="https://www.facebook.com/bablu.choudhury.39" class="nav-link" target="_blank">
                                    <fa-icon [icon]="fasqure" class="custom-icon"></fa-icon>
                                </a>

                            </div>
                            <div class="col-3  p-sm-3 icon">
                                <a href="https://www.linkedin.com/in/bhawani-sankar-choudhury-798864144/"
                                    class="nav-link" target="_blank">
                                    <fa-icon [icon]="faLinkedinIn" class="custom-icon"></fa-icon>
                                </a>
                            </div>
                            <div class="col-3  p-sm-3 icon">
                                <a href="https://www.instagram.com/_bablu_choudhury_/?hl=en" target="_blank"
                                    class="nav-link">
                                    <fa-icon [icon]="faInstagramSquare" class="custom-icon "></fa-icon>
                                </a>
                            </div>
                            <div class="col-3  p-sm-3 icon">
                                <a href="https://t.me/ghostking_rb" class="nav-link" target="_blank">
                                    <fa-icon [icon]="faTelegramPlane" class="custom-icon"></fa-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>