<div class="container">
    <div class="row">
        <div class="col-md-4 my-5">
            <a routerLink="cookie" class="nav-link">
                <div class="card">
                    <img src="../../../assets/Images/cookie1.avif" alt="" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">What is Cookie ?</h4>
                        <p> visit to know more about cookie</p>
                    </div>
                </div>
            </a>

        </div>

        <div class="col-md-4 my-5">
            <a routerLink="localstorage" class="nav-link">
                <div class="card">
                    <img src="../../../assets/Images/localstorage.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">What is Localstorage ?</h4>
                        <p> visit to know more about Localstorage</p>
                    </div>
                </div>
            </a>

        </div>

        <!-- <div class="col-md-4 my-5">
            <a routerLink="cookie" class="nav-link">
                <div class="card">
                    <img src="../../../assets/Images/cookie1.avif" alt="" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">What is Cookie</h4>
                        <p> visit to know more about cookie</p>
                    </div>
                </div>
            </a>

        </div> -->


    </div>
</div>