<!-- Service Section -->
<div class="container">
    <div class="row">
        <div class="col-md-4 my-3">
            <div class="card">
                <img src="../../../assets/Images/Rest-api.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">Create RESTful API</h4>
                    <p>To create a RESTful API using Node.js, Express.js, MongoDB, and MySQL, set up your environment,
                        install necessary packages, define routes for CRUD operations, establish connections to the
                        databases, create models, implement endpoints, apply middleware, test, secure, document, deploy,
                        and consider scaling for potential traffic growth.</p>
                    <div class="text-center">
                        <button class="btn btn-outline-success "><a class="nav-link"
                                href="https://www.fiverr.com/s/Ev9qzq" target="_blank">visit to fiverr</a></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 my-3">
            <div class="card">
                <img src="../../../assets/Images/CoinMarketCap.jpg" alt="" class="card-img-top">
                <div class="card-body mt-md-3 ">
                    <h4 class="card-title mb-md-3">Circulating Supply API Endpoint</h4>
                    <p>I offer a swift and reliable API service to track token supply on BSC, ETH, Polygon, AVAX, and
                        Waves networks. Get accurate total supply and circulating supply data for CoinMarketCap and
                        CoinGecko, without hidden fees. You'll receive the full script and a setup guide. Perfect for
                        token tracking needs!</p>
                    <div class="text-center">
                        <button class="btn btn-outline-success mt-md-3"><a class="nav-link"
                                href="https://www.fiverr.com/s/j3LGAa" target="_blank">visit to fiverr</a></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 my-3">
            <div class="card">
                <img src="../../../assets/Images/website.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">Create a Custom Website</h4>
                    <p>Building a custom website with Angular, Bootstrap, Node.js, Express.js, and databases like
                        MongoDB or MySQL creates a versatile, full-stack web application. Angular delivers dynamic
                        front-end, Bootstrap ensures responsiveness, and Node.js powers the server. With this stack, you
                        can craft interactive, scalable websites, from e-commerce to content management systems,
                        tailored to your needs.</p>
                    <div class="text-center">
                        <button class="btn btn-outline-success "><a class="nav-link"
                                href="https://www.fiverr.com/s/qVNwRZ" target="_blank">visit to fiverr</a></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 my-3">
            <div class="card">
                <img src="../../../assets/Images/Single-Page-Website.jpg" alt=""
                    class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">Create Single Page Website</h4>
                    <p>Building a dynamic single-page website built with Angular for the front end, Bootstrap for sleek and responsive design, Node.js for robust server-side functionality, and MongoDB for secure and scalable data storage. Explore our handpicked destinations, connect me, and start your journey with confidence</p>

                </div>
            </div>
        </div>
        <div class="col-md-4 my-3">
            <div class="card">
                <img src="../../../assets/Images/login-api.jpg" alt=""class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">Rest API with JWT Authentication</h4>
                    <p>Create a secure Node.js Express API with MongoDB and JWT authentication for your web apps. Register users, store credentials safely, and issue JWT tokens for user authentication. Protect authorized routes, allowing only authenticated users access. A reliable and scalable solution for web application user authentication.</p>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service Request -->
<div class="container">
    <div class="card border-0 card-header">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <h4 class="text-center text-warning">Request a Service</h4>
                <form #service="ngForm" (submit)="createService(service.value)">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" class="form-control" ngModel required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" class="form-control" name="email" ngModel required>
                    </div>
                    <div class="form-group">
                        <label for="service">Select Service</label>
                        <select name="" id="service" class="form-control" name="service" ngModel>
                            <option value="">---Select---</option>
                            <option value="Rest APIs">Rest APIs</option>
                            <option value="Custome Website">Custome Website</option>
                            <option value="CoinMarketCap">CoinMarketCap</option>
                            <option value="Single Page Website">Single Page Website</option>
                            <option value="Rest API with JWT">Rest API with JWT</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="my-2" for="srs">Requirement</label>
                        <textarea name="srs" id="srs" class="form-control" name="requirement" ngModel></textarea>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-4 my-5">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary form-control">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>