<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a routerLink="" class="navbar-brand">Bablu</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#mynav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynav">
            <ul class="navbar-nav ms-auto text-center">
                <li class="nav-item">
                    <a routerLink="" class="nav-link active">Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="about" class="nav-link active">About</a>
                </li>
                <li class="nav-item">
                    <a routerLink="contact" class="nav-link active">Contact</a>
                </li>
                <li class="nav-item">
                    <a routerLink="services" class="nav-link active">Services</a>
                </li>
                <li class="nav-item">
                    <a routerLink="login" *ngIf="!isLogin" class="nav-link active">Login</a>
                </li>
                <li class="nav-item">
                    <a routerLink="home" *ngIf="isLogin" class="nav-link active">DashBoard</a>
                </li>
                <li class="nav-item d-md-none text-white" *ngIf="isLogin">
                    <button class="dropdown-item "(click)="logOut()">
                        <i class="fa-solid fa-right-from-bracket "></i>
                        logout
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>